---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre el proyecto">
  <h1>Sobre el proyecto</h1>
  <p>
    Este proyecto es un ejemplo de cómo se puede utilizar Astro para crear un
    sitio web estático con componentes reutilizables y un sistema de rutas
    dinámico.
  </p>
</Layout>
