---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lanzamientos mas antiguos">
  <h1 class="text-2xl font-bold">Lanzamientos mas antiguos</h1>
  <p>Esta es una lista de los lanzamientos mas antiguos de SpaceX</p>
  <ul>
    <li>Dragon COTS Demo Flight 1</li>
    <li>Dragon COTS Demo Flight 2</li>
    <li>Dragon C3</li>
    <li>Dragon CRS-1</li>
    <li>Dragon CRS-2</li>
    <li>Dragon CRS-3</li>
    <li>Dragon CRS-4</li>
    <li>Dragon CRS-5</li>
    <li>Dragon CRS-6</li>
    <li>Dragon CRS-7</li>
  </ul>
</Layout>
